@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
*{
    font-family: Mulish;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --primary-color:#FF5400;
}

/* navigation section */
.header{
    margin:0 auto;
    display: flex;
    align-items: center;
    width: 1170px;
    /* border: 10px solid red; */
}
.title-section{
    display: flex;
    align-items: center;
}
nav >ul{
    list-style: none;
    display: flex;
    gap:44px;
}
nav ul a{
    text-decoration: none;
    color: black;
}
.title-section h1, h1 span{
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.home, h1 span{
    color:var(--primary-color);
}
/* Banner section */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("/images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    height: 500px;
    width:1170px;
    margin: 50px auto;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.input-field{
    display:flex;
    flex-direction: row;
}
.field{
    width: 174px;
    height: 52px;
    border-radius: 8px;
}
.input-field{
    display: flex;
    gap: 24px;
    padding:16px;
    margin-top:48px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.30);
}
.field input, select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    padding: 10px;
}
.btn{
    color: white;
    background-color: var(--primary-color);
    border:none;
    display: inline-block;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: var(--primary-color);    
}
.banner h1{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner p{
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.tour-section{
    width:1170px;
    margin:0 auto;
    display:flex;
    align-items: center;
}
.tour{
    text-align: left;
    margin-right: 15px;
}
.title{
    color: #131318;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 24px;
}
.tour p, .tour li{
    color: rgba(19, 19, 24, 0.70);
    font-style: normal;
    font-weight: 400;
    padding-bottom:20px;
    line-height: 26px; /* 162.5% */
}
.tour ul{
    margin-left:15px;   
}

.image-container{
    margin-top:40px;
}
.image-section p, .brand-section p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width:643px;
    margin-bottom: 40px;
}
.image-section, .brand-section{
    margin-top:50px;
    margin-bottom: 50px;
    max-width: 1170px;
    margin-top:100px;
    /* padding:50px; */
    text-align: center;
}
.row-image-1{
    display:flex;
    /* grid-template-areas:
    "maldeves indonesia"
    "srilanka north-america kashmir"
    "bangladesh bandarban"; */
    gap: 24px;
    margin-bottom:24px
}
.image{
    position:relative;
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20), rgba(19, 19, 24, 0.20));
}
.image > h1{
    position: absolute;
    /* bottom:calc(573px / 2);*/
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.maldeves h1, .indonesia h1{
    right:232.5px;
    bottom: 140px;
}
.maldeves img, .indonesia img{
    width:573px;
    height:300px;
}
.row-image-2{
    display: flex;
    gap:24px;
    margin-bottom:24px;
}
.srilanka h1, .north-america h1{
    left:150px;
    bottom:115px;
}
.kashmir h1{
    left:80px;
    bottom:115px;
}
.srilanka img{width: 374px; height: 286px;} 
.north-america img{width: 474px; height: 286px;} 
.kashmir img{width: 274px; height: 286px;}

.row-image-3{
    display: flex;
    gap:24px;
}
.bangladesh h1{
    left:170px;
    bottom:140px;
}
.bandarban h1{
    bottom:140px;
    left: 270px;
}
.bangladesh img{width: 473px; height: 300px;}
.bandarban img{width: 673px; height: 300px;}

/* Why choose us section */
.why-us{
    width:1170px;
    margin: 50px auto;
}
.cards{
    display:flex;
    flex-wrap: wrap;
    gap:24px;
}
.card{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    
    text-align: left;
    padding: 32px;
}
.color-1{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.color-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card h3{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding:32px 0px 16px 0px;
}
.card p{
    /* padding: 0 55px 32px 0; */
    text-align: left;
    width: 486px;
    margin:0;
}
.video-section{
    display: flex;
    width: 1170px;
    gap: 28px;
}
.video-section iframe{
    border-radius: 10px;
}
.writings{
    text-align: left;
    margin-right: 15px;
}
.writings p, .writings li{
    color: rgba(19, 19, 24, 0.70);
    font-style: normal;
    font-weight: 400;
    padding-bottom:20px;
    line-height: 26px; /* 162.5% */
}
.writings ul{
    margin-left:15px;   
}
.contact-section{
    display: flex;
    justify-content: space-around;
    gap:24px;
    margin: 80px auto;
    width:1170px;
}
.form{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding:40px;
}
.input-form input{
    width:100%;
    height: 52px;
    display: block;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left:10px;
    margin: 10px auto;
    border:1px solid white;
}
.btn-contact{
    width:100%;
    height: 52px;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 10px;
}
.form h3{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}
.form p{
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom:24px;
}
.form hr{
    margin-bottom:24px;
}
.contact-banner{
    position: relative;
}
.discount{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:51px;
    right:7px;
}
.discount p{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.discount h4{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer{
    width:100%;
    padding:110px 0;
    background-color: rgba(19, 19, 24, 0.05);
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:30px;
    /* border: 10px solid red; */
}
.title-section h1{
    padding:10px;
}
.title-section span{
    color: var(--primary-color);
}
.copyright{
    padding-top:100px;
}

